@import "app/styles/abstracts/mixins"

.form
  width: 100%
  padding-bottom: 1rem
  display: flex
  flex-direction: column
  &__submit
    background: #2D60FF
    font-size: 1.4rem
    color: #E7E7E7
    padding: .8rem 1.6rem
    border: none
    width: fit-content
    border-radius: .5rem
    align-self: flex-end
    &.active
      transition: .1s
      @include btn-active
  input[disabled]
    background: #7F7F7F


