@import "app/styles/abstracts/variables"


.user
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  gap: 3rem
  &__image
    display: flex
    .inner
      display: flex
      justify-content: center
      align-items: center
      width: 13rem
      height: 13rem
      border-radius: 50%
      border: .5rem solid #004AAD80
      &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%
      &__icon
        font-size: 3rem
        color: grey
  &__form
    border: 1px solid $color-gray
    padding: 2rem
    border-radius: 1rem
    .form
      gap: 2rem
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      flex-wrap: wrap


