.filter
  align-self: flex-end
  display: flex
  gap: 1rem
  &__search
    background: #FFFFFF
    border-radius: .8rem
    display: flex
    align-items: center
    gap: 1rem
    padding: 0 2rem
    i
      color: #D6D6D6
      font-size: 1.8rem
  &__select
    display: flex
    gap: 2rem
    align-items: center
    select
      width: 15rem
  &__input
    //color: #D6D6D6
    border: none
    font-size: 1.6rem
    outline: none
    &::placeholder
      color: rgba(214, 214, 214, 1)
  &__settings
    background: white
    border-radius: .8rem
    color: #D6D6D6
    padding: 1rem 2rem
    i
      font-size: 2.4rem

@media (max-width: 430px)
  .filter
    &__search
      i
    &__input
      width: 100%
